# Node modules
**/node_modules/**

# Dist files
packages/*/lib/**

# Test Coverage
coverage/

# Vuepress Related
**/.vuepress/.cache/**
**/.vuepress/.temp/**
**/.vuepress/dist/**

# npm config file
.npmrc

# macOS system files
.DS_Store
