# Node modules
**/node_modules/**

# Dist files
packages/*/lib/**
packages/include/__tests__/__fixtures__/simpleInclude.md

# Test Coverage
coverage/

# Vuepress Related
**/.vuepress/.cache/**
**/.vuepress/.temp/**
**/.vuepress/dist/**
# pnpm lock file
pnpm-lock.yaml
