@use "sass:color";
@use "@sass-palette/hope-config";
@use "vuepress-shared/styles/svg";

// hint icon
$hint-icon: '<svg viewBox="0 0 24 24"><path d="M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z"/></svg>';

:root {
  // hint
  --hint-title-color: #003100;
  --hint-bg-color: #e6f6e6;
  --hint-border-color: #009400;
}

[data-theme="dark"] {
  // hint
  --hint-title-color: #e6f6e6;
  --hint-bg-color: #003100;
}

.custom-container.hint {
  --hint-c-accent: var(--tip-c-accent);
  --hint-c-title: var(--tip-c-text);
  --hint-c-soft: var(--tip-c-soft);

  position: relative;
  margin: 0.85rem 0;
  padding: 0.25rem 1rem;
  border-inline-start-width: 0.3rem;
  border-inline-start-style: solid;
  border-radius: 0.5rem;
  border-color: var(--hint-c-accent);
  background: var(--hint-c-soft);

  color: inherit;
  transition:
    background var(--vp-t-color),
    border-color var(--vp-t-color),
    color var(--vp-t-color);

  @media (max-width: 419px) {
    margin-inline: -0.75rem;
  }

  @media print {
    page-break-inside: avoid;
  }

  .custom-container-title {
    color: var(--hint-c-title);
  }

  :not(pre) > code {
    background: var(--hint-c-soft);
  }

  .custom-container-title {
    position: relative;
    margin-block: 0.75em;
    font-weight: 600;
    line-height: 1.25;
    padding-inline-start: 1.75rem;

    @media print {
      padding-inline-start: 0;
    }

    &::before {
      @include svg.mask-svg($hint-icon);

      content: " ";

      position: absolute;
      inset-inline-start: 0;
      top: calc(50% - 0.6125em);

      width: 1.25em;
      height: 1.25em;

      font-size: 1.25em;

      @media print {
        display: none;
      }
    }
  }

  p {
    line-height: 1.5;
  }

  a {
    color: var(--vp-c-accent);
  }
}
