name: Build Docs

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  deploy-gh-pages:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install Deps
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: pnpm run build

      - name: Docs build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run docs:build

      - name: Deploy
        if: ${{ !cancelled() && github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          repository-name: mdit-plugins/mdit-plugins.github.io
          branch: gh-pages
          folder: docs/src/.vuepress/dist
          token: ${{ secrets.ACCESS_TOKEN }}
          single-commit: true
