name: Test

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  linter-and-unit:
    name: Linter and Unit test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 22
          - 24
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install Deps
        run: pnpm install --frozen-lockfile

      - name: Build project and upload bundle
        env:
          CODECOV_TOKEN: ${{ matrix.node-version == 24 && secrets.CODECOV_TOKEN || ''}}
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm run build

      - name: Linter test
        run: |
          pnpm run lint:check
          pnpm run lint:md

      - name: Unit test and save results
        env:
          CODECOV_TOKEN: ${{ matrix.node-version == 24 && secrets.CODECOV_TOKEN || '' }}
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm run test:coverage

      - name: Upload coverage
        if: ${{ !cancelled() && matrix.node-version == 24 }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results
        if: ${{ !cancelled() && matrix.node-version == 24 }}
        uses: codecov/test-results-action@v1
        with:
          file: ./coverage/test-report.junit.xml
          token: ${{ secrets.CODECOV_TOKEN }}
